
.abv{
    
    height: 100%;
    //background-image: url("https://jacochef.ru/src/img/test/cofw_3n4w_210426.jpg");
    position: relative;
    & > img.fon{
        width: 100%;
    }
    & > img.bus{
        width: 800px;
        position: absolute;
        left: 300px;
        bottom: 100px;
    }
    & > div{
        width: 47vw;
        position: absolute;
        left: 30vw;
        top: 33vh;
        & .roulette-pro-regular-image-wrapper{
            width: 10vw!important;
            height: 10vw!important;
        }
        & .roulette-pro-regular-prize-item-wrapper{
            width: 10vw!important;
            height: 10vw!important;
        }
        & .roulette-pro-regular-prize-item{
            width: 10vw!important;
            height: 10vw!important;
        }
        & .roulette-pro-regular-prize-item-image{
            width: 100%;
            height: 100%;
        }
        & .roulette-pro-wrapper{
            & ul > li{
                //padding-left: 20px;
                //padding-right: 20px;
            }
        }
        & .START{
            position: absolute;
            left: 40%;
            bottom: -350px;
            background-color: red;
            border: 1px solid red;
            border-radius: 40px;
            padding: 10px 50px;
            font-size: 3rem;
        }
    }
    
}