.img_modal {
  max-width: 300px !important;
  max-height: 300px !important;
  margin-right: 10px;
}

.accordion_summary {
  padding-left: 0 !important;
  margin: 0 !important;
  min-height: 48px !important;

  & .MuiAccordionSummary-content {
    margin: 0 0 !important;
    min-height: 48px;
  }
}

.ceil_tooltip {
  width: max-content;

  & .MuiFormControlLabel-root {
    margin: 0 !important;
  }
}

.ceil_white {
  & .MuiFormControl-root {
    border-radius: 4px;
    background-color: #fff !important;
  }

  & .MuiFormControl-root.MuiTextField-root {
    border-radius: 4px;
    background-color: #fff !important;
  }
}

.span_text {
  font-weight: bold !important;
  font-size: 20px !important;
}

.close_btn {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  background: #fff !important;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  box-shadow: 0px 2px 6px rgba(53, 67, 93, 0.32);
  & .MuiSvgIcon-root {
    fill: #4c68c1;
  }
}

.disabled_input {
  & .MuiFormLabel-root.MuiInputLabel-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.6);
  }

  & .MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
    opacity: 1 !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
  }

  & .MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.87);
  }

  & .MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled
    .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
  }
}
