td[class*="customCel"] {
    text-align: center!important
}
td[class*="tableCel"] {
    text-align: center!important
}
th[class*="tableCelHead"] {
    text-align: center!important
}


.customCel { 
    background-color: #bababa!important;
    text-align: center!important;
    border-right: 1px solid #e5e5e5!important;
    padding: 15px!important;
    cursor: pointer!important;
    font-size: 1.3rem!important;
}
.customCel:hover{
    background-color: #e5e5e5!important;
}

.tableCel {
    text-align: center!important;
    border-right: 1px solid #e5e5e5!important;
    padding: 15px!important;
    cursor: pointer!important;
    font-size: 1.3rem!important;
}
.tableCel:hover{
    background-color: #e5e5e5!important;
}


.OpenModalM {
  @media (max-width: 600px) {
    margin: 0px!important;
    display: flex!important;
    flex-direction: column!important;
  }
}

.dialogTitle {
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}
