tbody td:first-child,
thead tr:first-child,
td:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}

.td_color {
   background-color: #fff!important;
}

.tdprice{
  border-right: 1px solid #e5e5e5;
  
  white-space: nowrap;
  text-align: center!important;
}
.tdcity{
  width: 80%;
}
