body{
    margin: 0px!important;
}
p, span, b, th, td, label{
    font-size: 1rem!important;
}
h1, h2, h3, h4, h5{
    margin: 0;
}
.MuiAccordion-root.Mui-expanded{
    margin: 0!important;
}
.MuiAccordionSummary-content.Mui-expanded{
    margin: 12px 0!important;
}
a{
    text-decoration: none;
    color: black;
    width: 100%;
}