#table_graph_one td,
#table_graph_one th,
#table_graph_two td,
#table_graph_two th {
  padding: 3px !important;
  border-left: 1px solid #e5e5e5 !important;
  max-width: 110px !important;
  min-height: 38px !important;
}
.min_block {
  width: 50px !important;
  text-align: center !important;
}
.min_size {
  font-size: 0.6rem !important;
}
div.css-19kzrtu {
  padding-right: 0px !important;
}
.name_pinning {
  min-width: 140px !important;
  width: max-content;
  display: table-cell;
  min-height: 38px;
  position: absolute;
  background-color: #fff;
  margin-left: -1px;
  border-bottom: 2px solid #e5e5e5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#OpenModalM > .MuiDialog-container > div,
#OpenModalH > .MuiDialog-container > div {
  @media (max-width: 600px) {
    margin: 0px !important;
  }
}

.cellErr {
  display: flex !important;
  flex-direction: column !important;
}

.userSmenalist {
  max-height: 300px;
  overflow: scroll;

  & > div {
    margin-bottom: 10px;
  }
  & .Mui-selected:not(.SmenaDelete) {
    background-color: #f9bc23 !important;
    border-radius: 10px;
    & span {
      color: #525252 !important;
      font-weight: 600 !important;
    }
  }
  & .Mui-selected.SmenaDelete {
    background-color: red !important;
    border-radius: 10px;
    & span {
      color: #fff !important;
      font-weight: 600 !important;
      text-align: center;
    }
  }
}

.checkBox {
  padding: 0px !important;
  & label {
    margin: 0 !important;
    & span {
      width: 10px; 
      padding: 0 
    }
  }
}
