#table_graph_one td,
#table_graph_one th,
#table_graph_two td,
#table_graph_two th {
  padding: 3px !important;
  border-left: 1px solid #e5e5e5 !important;
  max-width: 110px !important;
  min-height: 38px !important;
}
.min_block {
  width: 50px !important;
  text-align: center !important;
}
.min_size {
  font-size: 0.6rem !important;
}
div.css-19kzrtu {
  padding-right: 0px !important;
}
.name_pinning {
  min-width: 140px!important;
  width: max-content;
  display: table-cell;
  min-height: 38px;
  position: absolute;
  background-color: #fff;
  margin-left: -1px;
  border-bottom: 2px solid #e5e5e5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#OpenModalM > .MuiDialog-container > div,
#OpenModalH > .MuiDialog-container > div {
  @media (max-width: 600px) {
    margin: 0px !important;
  }
}
