#table_graph_one td, #table_graph_one th{
    padding: 3px!important;
    border-left: 1px solid #e5e5e5!important;
    max-width: 110px!important;
}
.min_block{
    width: 50px!important;
    text-align: center!important;
}
.min_size{
    font-size: 0.6rem!important;
}